/* Font */

@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap);




video{
  margin: 0px;
}
/* Navigation Bar */




.topnav{
  background-color: rgb(110, 110, 110);
  overflow: hidden;
}

.topnav a{
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 10%
}

.topnav a:hover{
  background-color: lightblue;
  color: black;
}

.topnav a.active{
  background-color: skyblue;
  color: rgb(0, 51, 102);
}

.topnav .icon{
  display: none;
}

@media only screen and (max-width: 800px) {
  .topnav a {
    width: 100%;
  }
}






/* Headings / Logo */




.logo h1{
  color: skyblue;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: x-large;
}


.logo{
  margin-left: auto; 
  margin-right: auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(110, 110, 110); 
  border-radius: 10px;
  font-size: 0.7rem;
  width: 270px;
}






/* Paragraphs */



.message p{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  transition: border-radius 0.2s, font-size 0.2s;
  
}



.message h2{
  background-color: rgb(102, 178, 255);
  color: rgb(0, 51, 102);
}


.story-title{
  color: rgb(0, 51, 102);
  background-color: rgb(39, 104, 169);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  margin-top: 100px; 
}

.message p:hover{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  font-size: 1.3rem;
}







/* About Page */



#aboutPage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 10px;
}


#aboutPage img:hover{
  padding: 1%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 60%;
}


#aboutPage p{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  border-radius: 10px;
  transition: border-radius 0.2s, font-size 0.2s;
}


#aboutPage p:hover{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  font-size: 1.3rem;
}


#aboutPage h2{
  color: rgb(0, 51, 102);
  margin-left: 10%;
}




/* Contact Page */




#contactForm{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  padding: 1%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px; 
}



.my-video{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-style: solid;
  border-radius: 3px;
}



#phoneNumber{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  padding: 3px; 
}



input{
  background-color: white;
  width: 40%;
  margin-left: 30%;
  font-size: 10px;
  padding: 18px 16px;
  border-color: black;
  margin-bottom: 25px;
  border-radius: 10px;
}



textarea{
  background-color: white;
  width: 40%;
  margin-left: 30%;
  font-size: 12px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
}



button:hover{
  opacity: 80%;
  cursor: pointer;
}



button{
  background-color: skyblue;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 10px 40px ;
  text-align: center;
  margin: auto;
  display: flex;  
  transition: opacity 0.5s
}



button:hover{
  opacity: 80%;
  cursor: pointer;
}


#messageMe{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  padding: 1%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  text-align: center;
}




/* Merchandise Page */


/*
.carousel{
    max-width: 40%;
    margin: 0 auto;
}


.carousel-slides{
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.carousel-merch img{
    width: 100%;
    object-fit: cover;
}
*/


/* .carousel {
    max-width: 40%;
    margin: 0 auto;
  
  }

  .carousel-slides {
    text-align: center;
    display: flex;
    flex-direction: row;
    
   
  }

  .carousel-merch img {
    width: 100px;
    row-gap: 20px;
   
  }
  .carousel-merch img {
    width: 100%;
    object-fit: cover;
  } */

   @media (max-width: 600px) {
    .topnav a{
      font-size: 1rem; 
      margin-right: 10px;
    }

     .message p{
     font-size: 1rem;
    
    }

    .message p:hover{
      font-size: 1.2rem;
   

    }

    .message h2{
      font-size: 1.2rem;
     width: 120px;
   
    }

  

  }  
  
  .cointainer{
    /* border: solid black; */
    width:155px;
    margin-left: 10px;
    margin-right: 8px;
    display: inline-block;
  

    
  }

  .cointainer img{
    width: 150px;
    height: 200px;
    border: solid rgb(215, 214, 214);
    object-fit: contain;
    object-position: center;
    
  }


  .cointainer p{
    margin-bottom: 2px;
    padding-left: 3px;
  }

.item{
  color:black;
  font-weight: lighter;
  margin-bottom: 2px;

}

.price{
 margin-top: 0px;




}

.buy-button{
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  vertical-align: middle;
  margin-left: 7px;
  transition: padding 0.5s, font-size 0.5s;

}

.buy-button:active{
  padding: 7px 37px;
  font-size: 1rem;
  

}

/* .cart{
  width: 40px;
  margin-left: 860px;
  margin-top: 5px;
} */

.cart:hover{
  cursor: pointer;
}


 @media (max-width: 600px){
  .cointainer{
    margin-bottom: 50px;
    
  }

  /* .cart{
    margin-left: 0;
  } */
} 

/* new changed */
