@import url(https://www.1001fonts.com/css?family=sf-sports-night-font);

.topnav{
  background-color: rgb(110, 110, 110);
  overflow: hidden;
}

.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: lightblue;
  color: black;
}

.topnav a.active{
  background-color: skyblue;
  color: white;
}

.topnav .icon{
  display: none;
}

h1 {
  color: lightskyblue;
  text-align: center;
  font-family: 'SF Sports Night Regular';
}

label{
  width: 100px;
  display:inline-block;
}

.logo{
  margin: 50px 700px;
  padding: 5px;
  background-color: rgb(110, 110, 110);
}

.footer{
  text-align: center;
  position: absolute;
  bottom: 0; 
  left: 0; 
  z-index: 10;
}

#contactForm{
  background-color: rgb(110, 110, 110);
  padding: 20px;
  margin: 10px;
}

#aboutPage p{
  background-color: lightgrey;
  margin: 20px 20px;
  padding: 20px;
}

#myEmail{

}

