@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap);

.topnav{
  background-color: rgb(110, 110, 110);
  overflow: hidden;
}

.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: lightblue;
  color: black;
}

.topnav a.active{
  background-color: skyblue;
  color: rgb(0, 51, 102);
}

.topnav .icon{
  display: none;
}

h1{
  color: skyblue;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}



.logo{
  margin: 50px 400px; 
  padding: 5px;
  background-color: rgb(110, 110, 110); 
  border-radius: 10px;
}


#contactForm{
  background-color: rgb(110, 110, 110);
  padding: 20px;
  margin: 10px;
  border-radius: 10px; 
}

#aboutPage p{
  background-color: lightgrey;
  margin: 30px 30px;
  padding: 20px;
  border-radius: 10px;
}

#message p{
  color: rgb(0, 51, 102);
  background-color: rgb(102, 178, 255);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}


#message h2{
  background-color: rgb(102, 178, 255);
  color: rgb(0, 51, 102);
}


#video{
  width: 800px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 15px black;
}


#phoneNumber{
  background-color: lightgrey;
  padding: 3px; 
}



/* old version of form */
/* .form-container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;
  margin-bottom: 8px;

  
} */

/* form{
  padding: 0px;
  background-color: grey ;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px; 
  overflow: auto;
 
  
} */

/* label{
  width: 100px;
  display: inline-block;
  margin-bottom: 3px;
  
 
}  */

/* input {
  width: 100%;
  padding: 5px;
  margin-bottom: 3px; 
  border-radius: 10px; 
} */

/* end of old vesion of form */

input{
  background-color: white;
  width: 40%;
  margin-left: 30%;
  font-size: 10px;
  padding: 18px 16px;
  border-color: black;
  margin-bottom: 25px;
  border-radius: 10px;
}

textarea{
  background-color: white;
  width: 40%;
  margin-left: 30%;
  font-size: 12px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;

}
button:hover{
  opacity: 80%;
  cursor: pointer;
}

button{
  background-color: skyblue;
  border-radius: 20px;
  font-size: 22px;
  padding: 10px 40px ;
  text-align: center;
  margin: auto;
  display: flex;  
}

button:hover{
  opacity: 80%;
  cursor: pointer;
}

#messageMe{
  background-color: rgb(110, 110, 110);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}





